@media screen and (min-width: 791px) and (max-width: 990px) {
  .add_record_form_container {
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px !important;
  }
  .add_record {
    width: 77% !important;
  }
  .add_record_form form {
    width: 65% !important;
    margin-top: 30px;
    margin-bottom: 30px;
  }

}
@media screen and (min-width: 661px) and (max-width: 790px) {
  .add_record_form_container {
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .add_record {
    width: 85% !important;
  }
  .add_record_form form {
    width: 65% !important;
    margin-top: 30px;
    margin-bottom: 30px;
  }

}
@media screen and (min-width: 500px) and (max-width: 660px) {
  .add_record_form_container {
    height: calc(100vh - 150px);
    /* width: 70%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .add_record {
    width: 85% !important;
  }
  .add_record_form form {
    width: 65% !important;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 350px) and (max-width: 499px) {
  .add_record_form_container {
    height: calc(100vh - 150px);
    /* width: 70%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .add_record {
    width: 85% !important;
  }
  .add_record_form form {
    width: 65% !important;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 150px) and (max-width: 349px) {
  .add_record_form_container {
    height: calc(100vh - 150px);
    /* width: 70%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .add_record {
    width: 85% !important;
  }
  .add_record_form form {
    width: 65% !important;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.add_record_form_container {
  height: calc(100vh - 61.7px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.add_record {
  width: 60%;
}
.record_container_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  border-radius: 10px 10px 0px 0px;
  background-color: #307b8c;
  position: relative;
}
.add_record_header {
  font-weight: bold;
  color: white;
  font-size: 25px;
}
/* .record_img_container {
  height: 110px;

  border-bottom: 2px solid #2a7f82;
  position: relative;
  margin: inherit;
} */

.record_img {
  position: absolute;
  top: 48%;
  left: 13%;
  height: 100%;
}

.record_img_container .record_img img {
  height: 90%;
}

.add_record_form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #def2f3cf;
  border-radius: 0px 0px 15px 15px;
}
.allergy_list_container {
  display: flex;
  background-color: #def2f3cf;
  border-radius: 0px 0px 15px 15px;
  padding: 20px 20px 10px;
}
.allergy_list_container div {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single_allergy {
  width: 50%;
  display: flex;
  justify-content: start;
  font-size: 20px;
  align-items: center;
}

.allergy_list_container .allergy_icon {
  margin-right: 5px;
  margin-top: 5px;
  font-size: 12px;
}
.add_btn button {
  width: 100%;
  background-color: #307b8c;
  color: #def2f3;
  border-color: #307b8c;
  transition: all 1s;
  font-weight: bold;
}
.add_btn button:hover,
.btns_pres .btn_addRemove_pres:hover {
  background-color: white;
  color: #2a7f82;
  border-color: #3ea9ad;
}

.field {
  margin-bottom: 20px;
}
.field .formlabel {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  color: #2a7f82;
  font-weight: bold;
}

.add_record_form form {
  width: 45%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.add_record_form form select:focus,
.add_record_form form input:focus,
.add_record_form form textarea:focus,
.add_record_form form .add_btn button:focus,
.btns_pres .btn_addRemove_pres:focus {
  box-shadow: 0 0 0 3px rgb(62 169 173 / 50%);
  border-color: #3ea9ad;
}

.btns_pres {
  margin-bottom: 5px;
}
.btns_pres .btn_addRemove_pres {
  background-color: #307b8c;
  color: white;
  margin-right: 6px;
}
