.auth-layout {
  height: 100vh;
  background-color: #def2f3;
}
.main-layout {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: white;
}
.form-layout {
  width: 100%;
  margin: 0 auto;
  height: 65vh;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
}
.image-layout {
  position: relative;
  height: 70vh;
}

.auth-layout .form-container {
  height: 70vh;
  width: 65%;
  background-color: red;
  border-radius: 45px;
  box-shadow: #1cced687 7px 6px 5px 1px;
  background-color: white;
  padding: 20px;
}
.form-div {
  height: fit-content;
  width: 100%;
  padding: 20px;
}
.img-div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.img-div img {
  width: 100%;
  height: 70%;
  border-radius: 15%;
}
.auth-layout-link {
  width: 65%;
  text-align: center;
}
.auth-layout-link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 30px;
}

.form-layout input {
  outline: 0;
  border-width: 0px 0 1px;
  border-color: rgba(0, 0, 0, 0.295);
  border-radius: 0;
  padding: 5px;
}
.form-layout form input:focus {
  box-shadow: none;
  box-shadow: #1cced687 0px 3px 5px 1px;
}
.form-layout .input-div {
  position: relative;
}
.auth-layout .svg-inline--fa {
  position: absolute;
  top: 11px;
  opacity: 0.3;
  right: 4px;
  color: #3ea9ad;
}
.input-div input::placeholder {
  font-size: 0.9em;
}
.auth-layout .form-check-label {
  color: black;
}
.auth-layout .form-check-input {
  border: 1px solid rgba(0, 0, 0, 0.295);
}
.welcome-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -350%) !important;
  color: #2a7f82;
  text-transform: uppercase;
}
.auth-layout .form-label {
  color: black;
}

/* Start Footer */
.footer {
  position: relative;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: #3ea9ad;
  margin-top: 115px;
}

.footer-left,
.footer-right {
  display: inline-block;
  color: white;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer .icon {
  margin-top: 4px;
  padding-left: 15px;
  color: white;
}
/* End Footer */

/*==============================Start layout================================*/
.layout {
  margin-top: 60px;
}
.side-bar {
  background-color: red;
  height: 90vh;
}
.sidenav a,
.dropdown-btn {
  padding: 14px 8px 10px 21px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  opacity: 70%;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 500ms;
}
.sidenav a:hover,
.dropdown-btn:hover {
  opacity: 100%;
  color: white !important;
  background-color: #3ea9ad80;
}
.sidenav .a-section::after,
.dropdown-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: white;
  height: 1px;
  bottom: 0;
  left: 0;
  opacity: 30%;
}
/* .active {
  color: blue;
} */

.dropdown-container {
  display: none;
  background-color: #2a7f82;
  padding-left: 8px;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.add-fixed {
  height: 97vh;
  width: 16.66666%;
  position: fixed;
  top: 61px;
  background-color: #2a7f82;
  padding-top: 10px;
}
.remove-fixed {
  width: 100%;
  top: 61px;
  background-color: #2a7f82;
  overflow-x: hidden;
}
.align-right {
  text-align: center;
  margin-bottom: 6px;
  margin-top: 6px;
}
.btn-toggle {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.div-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
}

/* Profile Hussein */
.row {
  --bs-gutter-x: 0 !important;
}
.profile .profile-img {
  height: 100px;
  border-bottom: 1px solid black;
  position: relative;
  margin-bottom: 40px;
}
.profile-img .profile-span-img {
  position: absolute;
  bottom: -50px;
  width: 10%;
  background-color: white;
  left: 180px;
}
.profile-img .profile-span-img img {
  width: 100%;
}
.profile-img .profile-span-name {
  position: absolute;
  bottom: 0;
  width: 10%;
  left: 330px;
  font-size: 20px;
  font-weight: bold;
  width: 20%;
  color: #2a7f82;
}
.profile-img .profile-span-spec {
  position: absolute;
  bottom: 0;
  width: 10%;
  left: 490px;
  font-size: 15px;
  font-weight: bold;
  width: 20%;
  color: #3ea9ad;
}
.profile .profile-info {
  display: flex;
  justify-content: center;
  height: 60vh;
  padding: 10px;
}
.profile .profile-info .profile-form {
  width: 40%;
  border: 2px solid #3ea9ad4f;
  border-radius: 10px;
  position: relative;
}
.profile .profile-info .profile-form .edit-switch-btn {
  background-color: white;
  position: absolute;
  right: 20px;
  top: -15px;
}
.profile .profile-info .profile-form .edit-switch-note {
  background-color: white;
  position: absolute;
  right: 90px;
  top: -15px;
  color: rgb(158, 156, 156);
  font-weight: bold;
  text-transform: uppercase;
}

.profile .profile-form form {
  margin: 40px 20px;
}
.profile .profile-form .edit-input {
  margin-top: 15.1px;
}
.profile .profile-form .edit-input .edit-label {
  margin-bottom: 2px;
}

.profile .profile-form .btn-edit {
  margin-top: 10px;
}
.profile .profile-form .btn-edit .btn {
  background-color: #3ea9ad;
  color: white;
}
.profile .profile-form .btn-edit .btn-edit-save {
  text-align: end;
}

.profile .profile-form form .form-control,
.profile .profile-form form .form-control:disabled {
  transition: all 1s;
}

/* addbloodp */
@media (min-width: 768px) {
  .add-bloodp-gluc {
    width: 95%;
    margin: 20px auto;
  }
  .bp-header, .gluc-header {
    top: 68%;
    left: 26%;
    font-size: 22px;
}
  .bp-img, .gluc-img {
    top: 48%;
    left: 5%;
  }
  .bp-img img, .gluc-img img {
    height: 95px !important;
}
  .blood-gluc-form .form-group {
    left: 15%;
  }
  .blood-gluc-form .form-control {
    width: 95%;
  }
  .blood-gluc-form .add-btn {
    left: 25%;
  }
}
.bp-img-container,
.gluc-img-container {
  height: 110px;
  background-color: #3ea9ad;
  border-bottom: 2px solid #2a7f82;
  position: relative;
}

.bp-img,
.gluc-img {
  position: absolute;
  top: 40%;
  left: 12%;
  height: 100%;
}

.bp-img img,
.gluc-img img {
  height: 120px !important;
}

.bp-img-container .bp-img img,
.gluc-img-container .gluc-img img {
  height: 85%;
}

.bp-header,
.gluc-header {
  position: absolute;
  top: 65%;
  left: 28%;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.add-bloodp-gluc,
.add-examination {
  width: 70%;
  margin: 75px auto;
  background-color: whitesmoke;
}

.blood-gluc-form .bloodp-gluc-form,
.add-examination-form
 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blood-gluc-form .form-group,
.add-examination-form .form-group {
  width: 45%;
}

.form-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.blood-gluc-form .form-control {
  width: 80%;
}

.blood-gluc-form .form-control:focus,
.add-examination-form .form-control:focus {
  box-shadow: 0 0 0 3px rgb(62 169 173 / 50%);
  border-color: #3ea9ad;
}

.blood-gluc-form .formlabel,
.add-examination-form .formlabel {
  display: flex;
  justify-content: start;
  /* align-items: center; */
}

.blood-gluc-form label,
.add-examination-form label {
  color: #2a7f82;
  font-weight: bold;
}

.blood-gluc-form .add-btn {
  display: flex;
  justify-content: end;
  position: relative;
  left: 15%;
  transform: translateX(-30%);
  margin-bottom: 20px;
}

.blood-gluc-form button,
.blood-gluc-form button:hover,
.add-examination-form button,
.add-examination-form button:hover {
  background-color: #2a7f82;
  color: #def2f3;
  border-color: #2a7f82;
}
/* addglucose */
.blood-gluc-form .form-group {
  position: relative;
  left: 20%;
  margin-top: 35px;
  transform: translateX(-30%);
}

/*========== ===================== ====================== =============*/
/* .auth {
  background-color: #def2f3;
  height: 100vh;
  display: flex;
  align-items: center;
}
.login-reigster {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-auth {
  height: 75vh;
  background-color: white;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  box-shadow: #1cced687 7px 6px 5px 1px;
}
.form-auth form {
  width: 80%;
}
.form-auth form input {
  outline: 0;
  border-width: 0px 0 1px;
  border-color: black;
  border-radius: 0;
  padding: 5px;
}
.form-auth form input:focus {
  box-shadow: none;
  box-shadow: #1cced687 0px 3px 5px 1px;
}
.img-auth {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
} */

.hidden-content {
  visibility: hidden;
}

.shown-content {
  visibility: visible;
  transition: all 5s ease-in-out;
}

.authentication {
  padding: 2px;
}
.auth-link .active {
  border-bottom: 2px solid #2a7f82 !important;
  color: #2a7f82 !important;
  padding-bottom: 2px;
}

.auth-link a {
  text-decoration: none;
  color: #3ea9ad !important;
  font-weight: bold;
}
.dis-none {
  display: none;
}

.remove-dis-none {
  display: "";
}

.btns-registers-steps {
  background-color: #3ea9ad !important;
  border-color: #3ea9ad !important;
  color: white !important;
  text-align: right;
}
.btns-registers-steps:hover {
  color: white;
}

::-webkit-input-placeholder {
  /* Edge */
  color: red;
}

.navbar {
  background-color: #3ea9ad;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1;
}
.navbar .navbar-brand img {
  width: 45px;
}
.navbar .site-name {
  display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
  color: #def2f3 !important;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #def2f3 !important;
}
.navbar .navbar-brand span {
  color: #def2f3;
  font-weight: bold;
}
/*=============================================================== Donia-css ================================================================ */
/* welcomearea */
.welcome-area {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/card3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.welcome-area::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

.welcome-area .text {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  text-align: center;
  width: 100%;
}

.welcome-area .text h1 {
  font-weight: 600;
  font-size: 55px;
  line-height: 54px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: #fff;
}

.welcome-area .text p {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  line-height: 28px;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 991px) {
  .welcome-area .text {
    top: 65% !important;
    transform: perspective(1px) translateY(-60%) !important;
    text-align: center;
  }
  .welcome-area .text h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
  }
  .welcome-area .text h1 span {
    color: #fff;
  }
  .welcome-area .text p {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
}

@media (max-width: 820px) {
  .welcome-area .text {
    top: 65% !important;
    transform: perspective(1px) translateY(-60%) !important;
  }
  .welcome-area .text h1 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .welcome-area .text p {
    margin-bottom: 20px;
  }
}

@media (max-width: 765px) {
  .welcome-area {
    margin-bottom: 100px;
  }
  .welcome-area .text {
    top: 50% !important;
    transform: perspective(1px) translateY(-50%) !important;
    text-align: center;
  }
  .welcome-area .text .buttons {
    display: none;
  }
  .welcome-area .text h1 {
    font-weight: 800px;
    font-size: 24px !important;
    line-height: 30px !important;
    margin-bottom: 30px !important;
  }
  .welcome-area .text h1 span {
    color: #fff;
  }
  .welcome-area .text p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
  }
}
a.main-button-slider {
  text-decoration: none;
  font-size: 18px;
  border-radius: 15px;
  padding: 21px 20px;
  background-color: #10666a;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
}
a:hover{
  color: white !important;
  
}

/* 
---------------------------------------------
features
--------------------------------------------- 
*/
.card {
  cursor: pointer;
  height: 100%;
  display: block;
  background: #ffffff;
  box-shadow: 0px 0px 3px 0px rgb(152, 151, 151);
  border-radius: 12px !important;
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
  margin-right: 15px;
}

.card .icon {
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: auto;
  position: relative;
  margin-bottom: 15px;
  border-radius: 50%;
}
.card .icon .svg-inline--fa {
  font-size: 50px;
  color: #238274;
}

.card .title {
  font-weight: bold;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.card p {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.5px;
  line-height: 25px;
  position: relative;
  z-index: 2;
}

/* .card a {
  float: right;
  position: relative;
  z-index: 2;
} */

.home-feature {
  padding-bottom: 0px;
  padding-top: 130px;
  margin-top: -220px;
  z-index: 9;
}

@media (max-width: 991px) {
  .home-feature {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    z-index: 9;
  }
}

.section-container {
  background-color: #238274;
  margin: 65px;
}
.section-text {
  align-self: center;
}
.section-title {
  margin-bottom: 30px;
  color: white;
}
.left-text {
  font-weight: 400;
  font-size: 16px;
  color: var(--bs-gray-500);
  line-height: 28px;
  letter-spacing: 1px;
}
/* -====================addprescription ======================*/


.pres-container {
  display: flex;
  align-items: end;
  height: 100px;
  background-color: #3ea9ad;
  border-bottom: 2px solid #2a7f82;
}

.pres-header {
  display: flex;
  align-content: baseline;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 25px;
}

.add-prescription {
  width: 70%;
  margin: 25px auto;
  background-color: whitesmoke;
}

.prescripton-form .pres-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.prescripton-form .form-group {
  width: 45%;
  margin-top: 30px;
}
.form-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.prescripton-form .form-control {
  width: 80%;
}

.prescripton-form .form-control:focus {
  box-shadow: 0 0 0 3px rgb(62 169 173 / 50%);
  border-color: #3ea9ad;
}

.prescripton-form .formlabel {
  display: flex;
  justify-content: start;
  /* align-items: center; */
}

.prescripton-form label {
  color: #2a7f82;
  font-weight: bold;
}

.prescripton-form .add-btns {
  margin-bottom: 5px;
}

.prescripton-form .add-btns .add-remove-pres {
  display: flex;
  justify-content: end;
  position: relative;
  left: 15%;
  transform: translateX(-30%);
}

.prescripton-form .add-btns .add-remove-pres button {
  margin-left: 10px;
}

.pres-form .form-group .submit-pres{
  display: flex;
    justify-content: end;
    position: relative;
    left: 15%;
    transform: translateX(-30%);
    margin-bottom: 5px;
}

.prescripton-form button,
.prescripton-form button:hover {
  background-color: #2a7f82;
  color: #def2f3;
  border-color: #2a7f82;
}

.add-remove-pres button:focus,
.submit-pres button:focus {
  box-shadow: 0 0 0 3px rgb(62 169 173 / 50%) !important;
}


/* ==============================Zeinab CSS============================== */
/* ===============Examination===================== */
.examination .examination-filter {
  /* text-align: center; */
  margin-top: 20px;
  margin-left: 20px;
}

.examination .examination-filter .examination-filter-header {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
  color: #2a7f82;
}

.examination .examination-filter .examination-filer-button button {
  background-color: transparent;
  color: #2a7f82;
  font-weight: bold;
  padding: 8px 12px;
  box-shadow: 0px 0px 4px 0px #2a7f82;
  border-color: #2a7f82;
  border-radius: 10px;
  border: none;
}

.departments-filter {
  display: flex;
  flex-wrap: wrap;
}

.department-container .department-name {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.department-container .department-name span {
  border: 1px solid black;
  display: inline-block;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
}

.popup-close,
.add-examination-btn button {
  background-color: #2a7f82 !important;
  border-color: #2a7f82 !important;
  /* box-shadow: 0 0 0 3px rgb(62 169 173 / 50%) !important; */
}

.examination .examination-filter .examination-filer-button button:focus,
.popup-close:focus,
.add-examination-form .add-btn button:focus {
  box-shadow: 0 0 0 3px rgb(62 169 173 / 50%) !important;
}

.examination .examination-data {
  width: 97%;
  margin: auto;
  margin-top: 15px;
}

.examination .examination-table thead {
  background-color: #3ea9ad;
  color: white;
}

.examination .examination-data .add-examination-btn {
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}


.examination-container {
  display: flex;
  align-items: end;
  height: 100px;
  background-color: #3ea9ad;
  border-bottom: 2px solid #2a7f82;
}

.add-examination-header {
  display: flex;
  align-content: baseline;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 25px;
}

.add-examination .form-group {
  margin-top: 35px;
}

.add-examination-form .form-control {
  width: 100%;
}

.add-examination-form .add-btn {
  display: flex;
  justify-content: end;
  position: relative;
  left: 30%;
  transform: translateX(-30%);
  margin-bottom: 20px;
}
