.width_nav_item {
  width: 150px;
}

.navbar_own_style {
  background: linear-gradient(45deg, #012e40 10%, #3ca6a6 90%);
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1;
}

.navbar_img_width {
  width: 45px;
}

.site_name {
  display: inline-block;
  color: white;
  cursor: pointer;
}
.nav_link_own_style {
  color: #def2f3 !important;
  font-weight: bold;
}
.nav_link_own_style:hover {
  color: #def2f3 !important;
}

.navbar_button_menu {
  margin-right: 15px;
}
.span_navbar {
  color: #def2f3;
  font-weight: bold;
}
.container_fluid_own_style {
  width: 90% !important;
  display: flex !important;
  justify-content: start !important;
}

.search_user {
  width: 400px;
}

.has_search input {
  padding-left: 2rem;
}
.has_search input:focus {
  box-shadow: 0 0 0 3px rgb(62 169 173 / 50%);
  border-color: #3ea9ad;
}
.has_search .form_control_navbar {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.has_search .reset {
  position: absolute;
  z-index: 99999;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  color: #aaa;
  right: 35%;
  cursor: pointer;
}
