.gZWIKX {
  background-color: #307b8c !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: white !important;
}
.filter-examination-btn button,
.filter-examination-btn button:hover {
  background-color: #307b8c !important;
  border-color: #307b8c !important;
}
